* {
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'Google Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(135deg, rgb(35, 60, 60), darkslategrey);
    color: #f5f3ca;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: riseUp 3s ease-out forwards;
    opacity: 0;
}

.moveLeftAnim {
    animation: moveLeftExit 1s ease-out forwards;
}

.moveRightAnim {
    animation: moveRightExit 1s ease-out forwards;
}

@keyframes riseDown {
    from {
        transform: translateY(-4rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes riseUp {
    from {
        transform: translateY(4rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveLeftExit {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-50px, 0);
        opacity: 0;
    }
}


@keyframes moveRightExit {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(50px, 0);
        opacity: 0;
    }
}

.projIcon {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px;
}

.iconA {
    width: 2rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.projTitle {
    font-size: 2rem;
    font-weight: 500;
}

.menuContent {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    animation: riseDown 2s ease-out forwards;
    opacity: 0;
}

.menuIcon {
    width: 2rem;
    height: auto;
    position: fixed;
    right: 0px;
    margin: 10px;
}

.whiteSpace {
    width: 3rem;
    height: 3rem;
    display: block;
}

.whiteLine {
    width: 15rem;
    height: 0.5rem;
    background-color: #f5f3ca;
    border-left: 10px solid rgb(21, 35, 35);
    border-radius: 10px 0 10px 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.centerCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    font-size: 2rem;
    font-weight: 300;
}

.usernameInput, .usernameInput[type="text"], .usernameInput[placeholder] {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    width: 17rem;
    height: 2.5rem;
    display: flex;
    border-radius: 0 10px 10px 10px;
    padding: 5px;
    transition: all 500ms ease-out;
    box-shadow: 5px 7px 5px rgba(255, 238, 139, 0.461);
}

.usernameInput:focus, .usernameInput:hover {
    background-color: rgb(171, 171, 171);
    box-shadow: 5px 7px 5px rgba(69, 64, 36, 0.461);
    font-weight: 500;
}

.confirmButton {
    font-size: 1rem;
    border-radius: 10px;
    margin: 10px;
    border: 0.1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: 400;
    backdrop-filter: blur(10px);
    background: radial-gradient(circle at 20% 30%, rgb(61, 102, 102), rgb(27, 45, 45));
    box-shadow: 2px 3px 10px rgba(39, 68, 68, 0.492);
    opacity: 0;
    width: 12rem;
    height: 3rem;
}

.buttonIcon {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 10px;
}

.showButton {
    animation: showBtn 1s ease-out forwards;
}

@keyframes showBtn {
    from {
        transform: translate(0, 50px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.loadingIcon {
    width: 3rem;
    height: 3rem;
    border: 0.5rem dashed #f5f3ca;
    border-bottom-color: transparent; /* hides the bottom */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: rotate(0deg);
}

.loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
    margin-top: 5rem;
}
.loadingIconSpin {
    animation: spin 1s linear infinite;
}


.loadingScreenAnim {
    animation: loadingSA 1s forwards;
}

.loadingText {
    font-size: 2rem;
}

.loadingScreenOut {
    animation: loadingOut 1s ease-out forwards;
}

@keyframes loadingOut {
    from {
        transform: translate();
        opacity: 1;
    }
    to {
        transform: translate(0, 50px);
        opacity: 0;
    }
}

@keyframes loadingSA {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.welcomeText {
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
}

.welcomeShow {
    animation: showwelcome 2s ease-out forwards;
}

@keyframes showwelcome {
    from {
        letter-spacing: 1rem;
        opacity: 0;
    }
    to {
        letter-spacing: normal;
        opacity: 1;
    }
}

.animatedBox {
    width: 6rem;
    height: 6rem;
    position: fixed;
    left: 10rem;
    transform: rotate(45deg);
    box-shadow: 10px 5px rgba(0, 0, 0, 0.518);
    background:radial-gradient(circle at 20% 30%, darkslategrey, rgb(29, 49, 49));
    z-index: 0;
}