* {
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'Google Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(135deg, rgb(35, 60, 60), darkslategrey);
    color: #f5f3ca;
    overflow: scroll;
    scroll-behavior: smooth;
}

.loadingIcon, .contents, .welcomeText, .animatedBox {
    will-change: transform, opacity, letter-spacing;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: riseUp 3s ease-out forwards;
    opacity: 0;
}

.moveLeftAnim {
    animation: moveLeftExit 1s ease-out forwards;
}

.moveRightAnim {
    animation: moveRightExit 1s ease-out forwards;
}

@keyframes riseDown {
    from {
        transform: translateY(-4rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes riseUp {
    from {
        transform: translateY(4rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveLeftExit {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-50px, 0);
        opacity: 0;
    }
}


@keyframes moveRightExit {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(50px, 0);
        opacity: 0;
    }
}

.projIcon {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px;
}

.iconA {
    width: 2rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.projTitle {
    font-size: 2rem;
    font-weight: 500;
}

.menuContent {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    animation: riseDown 2s ease-out forwards;
    opacity: 0;
}

.menuIcon {
    width: 2rem;
    height: auto;
    position: fixed;
    right: 0px;
    cursor: pointer;
    margin: 10px;
}

.whiteSpace {
    width: 3rem;
    height: 3rem;
    display: block;
}

.whiteLine {
    width: 15rem;
    height: 0.5rem;
    background-color: #f5f3ca;
    border-left: 10px solid rgb(21, 35, 35);
    border-radius: 10px 0 10px 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.centerCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    font-size: 2rem;
    font-weight: 300;
}

.usernameInput, .usernameInput[type="text"], .usernameInput[placeholder] {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    width: 17rem;
    height: 2.5rem;
    display: flex;
    border-radius: 0 10px 10px 10px;
    padding: 5px;
    transition: all 500ms ease-out;
    box-shadow: 5px 7px 5px rgba(255, 238, 139, 0.461);
}

.usernameInput:focus, .usernameInput:hover {
    background-color: rgb(171, 171, 171);
    box-shadow: 5px 7px 5px rgba(69, 64, 36, 0.461);
    font-weight: 500;
}

.confirmButton {
    font-size: 1rem;
    border-radius: 10px;
    margin: 10px;
    border: 0.1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: 400;
    backdrop-filter: blur(10px);
    background: radial-gradient(circle at 20% 30%, rgb(61, 102, 102), rgb(27, 45, 45));
    box-shadow: 2px 3px 10px rgba(39, 68, 68, 0.492);
    opacity: 0;
    width: 12rem;
    height: 3rem;
}

.buttonIcon {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 10px;
}

.showButton {
    animation: showBtn 1s ease-out forwards;
}

@keyframes showBtn {
    from {
        transform: translate(0, 50px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.loadingIcon {
    width: 3rem;
    height: 3rem;
    border: 0.5rem dashed #f5f3ca;
    border-bottom-color: transparent; /* hides the bottom */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: rotate(0deg);
}

.loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
    margin-top: 5rem;
}
.loadingIconSpin {
    animation: spin 1s linear infinite;
}


.loadingScreenAnim {
    animation: loadingSA 1s forwards;
}

.loadingText {
    font-size: 2rem;
}

.loadingScreenOut {
    animation: loadingOut 1s ease-out forwards;
}

@keyframes loadingOut {
    from {
        transform: translate();
        opacity: 1;
    }
    to {
        transform: translate(0, 50px);
        opacity: 0;
    }
}

@keyframes loadingSA {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.welcomeText {
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
}

.welcomeShow {
    animation: showwelcome 2s ease-out forwards;
}

@keyframes showwelcome {
    from {
        letter-spacing: 1rem;
        opacity: 0;
    }
    to {
        letter-spacing: normal;
        opacity: 1;
    }
}

.animatedBox {
    width: 6rem;
    height: 6rem;
    position: fixed;
    left: 10rem;
    transform: rotate(45deg);
    box-shadow: 10px 5px rgba(0, 0, 0, 0.518);
    background:radial-gradient(circle at 20% 30%, darkslategrey, rgb(29, 49, 49));
    z-index: 0;
}

.animateABox {
    animation: rotateBoxes 3s ease-out forwards;
}

@keyframes rotateBoxes {
    to {
        transform: rotate(315deg);
    }
}

.moveWelcome {
    animation: moveW 1s ease-out forwards;
}

@keyframes moveW {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }

}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 20rem;
    height: auto;
    display: none;
    opacity: 0;
}

.textBox {
    padding: 0.5rem;
    margin: 0;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    width: 100%;
    height: auto;
    opacity: 0;
    margin-bottom: 10rem;
    background-color: rgb(0, 0, 0, 0.1);
}

.showMainContent {
    animation: showContentMain 2s ease-out forwards;
}

@keyframes showContentMain {
    from {
        transform: translate(0, 50px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.textBoxShow {
    animation: showtexts 1s ease-out forwards alternate;
}

.textBoxHide {
    animation: hidetexts 1s ease-out forwards alternate;
}

@keyframes hidetexts {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }
    to {
        opacity: 0;
        transform: translate(0, -50px);
    }
}

@keyframes showtexts {
    from {
        opacity: 0;
        transform: translate(0, 50px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.aiInterface, .aiInterface[type="text"], .aiInterface[placeholder] {
    width: 15rem;
    height: 2rem;
    margin: 0.5rem;
    border: 0.1px solid rgb(0, 0, 0, 0.2);
    background-color: rgb(0, 0, 0, 0.1);
    font-family: 'Google Sans', sans-serif;
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: #f5f3ca;
    backdrop-filter: blur(8px);
}

.robot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botResponse {
    width: 95%;
    margin: 0.5rem;
    overflow-y: scroll;
    height: 5rem;
    background-color: rgb(0, 0, 0, 0.1);
    border: 0.1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.aiButton {
    cursor: pointer;
}

.calculator {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calcDisplay {
    width: 95%;
    height: 3rem;
    border: 0.3px solid rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.calcRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calcButtons {
    width: 4rem;
    height: 3rem;
    border: 0.1px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0.2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-out;
}

.calcButtons:hover, .calcButtons:focus {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.2px solid rgb(0, 0, 0, 0.7);
}

.gtn {
    font-size: 2rem;
    font-weight: 900;
    background: linear-gradient(90deg, #ff0080, #7928ca, #2afadf, #ff0080);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 5s ease-out infinite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.rainbow {
    background: linear-gradient(90deg, #ff0080, #7928ca, #2afadf, #ff0080);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300% 300%;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    animation: gradient 3s ease-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    100% {
        background-position: 0%, 50%;
    }
}

/*  */
/*  */
/*  */
.guessTheNumber {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gtnOptions[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
}
.gtnOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
}

/*  */
/*  */
/*  */

.resultItem {
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.resultItem:hover {
  background: rgba(255,255,255,0.1);
}

.player {
  margin-top: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

#musicSearch, #musicBtn {
    font-family: 'Google Sans', sans-serif;
    padding: 0.5rem;
    background: transparent;
    color: #f5f3ca;
    font-size: 1rem;
    border: 0.1px solid rgb(0, 0, 0, 0.3);
}


/*  */
/*  */
/*  */

.gtnButton {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    border: 0.1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    color: #f5f3ca;
    padding: 0.3rem;
}

.gtnInput, .gtnInput[type="text"] {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    border: 0.1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    color: #f5f3ca;
    padding: 0.3rem;
    opacity: 0;
}

.Wordle {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordleLine {
    border: 0.1px solid rgb(0, 0, 0, 0.5);
    border-radius: 0.3rem;
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
    background: rgb(0, 0, 0, 0.3);
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordleGuessInput, .wordleGuessInput[type="text"], .wordleGuessInput[placeholder] {
    font-family: 'Google Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    width: 95%;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 0.5px solid rgb(0, 0, 0, 0.3);
    background-color: transparent;
    color: #f5f3ca;
    opacity: 0;
    display: none;
}

.startWordle {
    font-family: 'Google Sans', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    width: 95%;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 0.5px solid rgb(0, 0, 0, 0.3);
    background-color: transparent;  
    color: #f5f3ca
}

.menuIconOpen {
    animation: menuOpen 1s ease-out forwards;
}

.menuIconClose {
    animation: menuClose 1s ease-out forwards;
}

@keyframes menuOpen {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-7rem, 0) rotate(-180deg);
        opacity: 0.8;
    }
}

@keyframes menuClose {
    from {
        transform: translate(-7rem, 0) rotate(-180deg);
        opacity: 0.8;
    }
    to {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
    }
}

a {
    text-decoration: none;
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    color: #f5f3ca;
}

.menuOptions {
    position: fixed;
    right: 2rem;
    top: 3rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    opacity: 0;
    border: 0.2px solid rgb(0, 0, 0, 0.3);
    padding: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    background: rgb(0, 0, 0, 0.3);
    z-index: 9999;
}

.menuContent {
    z-index: 100;
}

.menuOptionText {
    font-size: 0.8rem;
    z-index: 10;
    color: #f5f3ca;
    font-weight: 300;
}

.menuOptionText:hover {
    background: linear-gradient(90deg, #ff0080, #7928ca, #2afadf, #ff0080);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 1s ease-out infinite;
}

.menuOptionText:focus {
    background: linear-gradient(90deg, #ff0080, #7928ca, #2afadf, #ff0080);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 1s ease-out infinite;
}

.showMenuOptions {
    animation: showMenuOps 1s ease-out forwards;
}

.hideMenuOptions {
    animation: hideMenuOps 1s ease-out forwards;
}


@keyframes showMenuOps {
    from {
        transform: translate(0, 4rem);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
        z-index: 5;
    }
}

@keyframes hideMenuOps {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(0, 4rem);
        opacity: 0;
        z-index: 0;
    }
}



.passwordOptions {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 0.5rem;
}

.passwordOption {
    cursor: pointer;
}

.randomPassDisplay {
    width: 95%;
    height: 2rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 0.2rem;
    padding: 0.3rem;
}

.toggledPasswordOption {
    background: linear-gradient(135deg, rgb(5, 226, 5), lightgreen, rgb(198, 255, 198), rgb(86, 255, 86));
    color: #101010;
    font-weight: 500;
    max-width: 13rem;
}

.generatePass {
    font-family: 'Google Sans', sans-serif;
    font-weight: 500;
    width: 95%;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0, 0.2);
    border: 0.1px solid rgb(0, 0, 0, 0.1);
    color: #f5f3ca;
    cursor: pointer;
    font-size: 1.5rem;
}

.filled {
    background-color: white;
    color: #101010;
}

.correct {
    background-color: green;
    color: #f5f3ca;
}

.close {
    background-color: yellow;
}

.wordleRow {
    display: flex;
    flex-direction: row;
}